<!DOCTYPE html>
<html ng-app="docs">
    <head>
        <title>PGYI DataTheme</title>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.2/css/bootstrap.css"/>
    </head>
    <body ng-controller="main">
        <div class="container-fluid">
            <div ng-repeat="resource in datapackage.resources" class="row">
                <div class="col-md-12">
                    <h3>{{resource.path}}</h3>
                    <table class="table table-bordered table-striped">
                        <thead>
                            <tr>
                                <th>
                                    Field
                                </th>
                                <th>
                                    Type
                                </th>
                                <th>
                                    Required
                                </th>
                                <th>
                                    Unique
                                </th>
                                <th>
                                    Min
                                </th>
                                <th>
                                    Max
                                </th>
                                <th>
                                    values
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="field in resource.schema.fields">
                                <td>{{field.name}}</td>
                                <td>{{field.type}}</td>
                                <td>{{field.constraints.required}}</td>
                                <td>{{field.constraints.unique}}</td>
                                <td>{{field.constraints.min}}</td>
                                <td>{{field.constraints.max}}</td>
                                <td>{{field.constraints.pattern}}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <script src="//cdnjs.cloudflare.com/ajax/libs/angular.js/1.3.14/angular.js"></script>
        <script>
            angular.module('docs', []).controller('main', function($scope, $http){
                $http.get('http://s3.amazonaws.com/tesera.datathemes/afgo.pgyi/datapackage.json').then(function (res) {
                    $scope.datapackage = res.data;
                });
            });
        </script>
    </body>
</html>